:root{
    --font-primary: 'Fraunces', serif;
    --font-size-primary: 47px;
    --font-size-primary-mobile: 32px;
    --line-height-primary: 40px;
    --line-height-primary-mobile: 25px;
    --font-color-primary: #ba4b2f;
    
    --font-secondary: 'Josefin Sans', sans-serif;
    --font-size-secondary: 22px;
    --font-size-secondary-mobile: 22px;
    --line-height-secondary: 25px;
    --line-height-secondary-mobile: 25px;
    --font-color-secondary: #ba4b2f;

    --font-size-tertiary: 18px;
    --line-height-tertiary: 18px;

    --color-primary: #d3a081;
    --color-primary-transparency:#d3a08191;
    --color-secondary: #fcf5eb;

    --padding-box: 30px;
}
html, body, form, input, textarea, button, select{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    word-break: break-word;
}