:root{
    --font-primary: 'Fraunces', serif;
    --font-size-primary: 39px;
    --font-size-primary-mobile: 30px;
    --line-height-primary: 39px;
    --line-height-primary-mobile: 27px;
    --font-color-primary: #ba4b2f;
    
    --font-secondary: 'Josefin Sans', sans-serif;
    --font-size-secondary: 20px;
    --line-height-secondary: 22px;
    --font-color-secondary: #ba4b2f;

    --font-size-tertiary: 17px;
    --line-height-tertiary: 20px;

    --color-primary: #d3a081;
    --color-primary-transparency:#d3a08191;
    --color-secondary: #fcf5eb;

    --padding-box: 30px;
}
html, body, form, input, textarea, button, select{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    word-break: break-word;
}
.detail{
    height: 10px;
    width: 100%;
    background-color: var(--color-primary);
}