body{
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    background-color: var(--color-secondary);
    background-image: url(/assets/img/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width: 900px){
    body{
        height: unset;
        min-height: 100vh;
    }
}

.landing-page{
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page .container{
    height: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media(max-width: 900px){
    .landing-page .container{
        flex-direction: column;
        min-width: 320px;
    }
}

.landing-page .page-description{
    position: relative;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 150px;
    margin-left: 20px;
}
@media(max-width: 900px){
    .landing-page .page-description{
        max-width: 260px;
        height: 100%;
        margin: unset;
        padding: 0px 20px 20px 20px;
    }
}

.landing-page .logo{
    width: 189px;
    position: absolute;
    top: -30px;
    left: -30px;
}
@media(max-width: 900px){
    .landing-page .logo{
        top: -10px;
        left: -10px;
    }
}

.landing-page h1{
    font-family: var(--font-primary);
    font-size: var(--font-size-primary);
    line-height: var(--line-height-primary);
    color: var(--font-color-primary);
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
@media(max-width: 900px){
    .landing-page h1{
        font-size: var(--font-size-primary-mobile);
        line-height: var(--line-height-primary-mobile);
        margin-top: 130px;
    }
}

.landing-page p{
    font-family: var(--font-secondary);
    font-size: var(--font-size-secondary);
    line-height: var(--line-height-secondary);
    color: var(--font-color-primary);
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}

.landing-page .contact-form{
    height: 100%;
    min-width: 400px;
    max-width: 450px;
    padding: var(--padding-box);
    border-radius: 30px;
    background-color: var(--color-primary-transparency);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@media(max-width: 900px){
    .landing-page .contact-form{
        min-width: 280px;
        max-width: 300px;
        padding: 20px;
    }
}

.landing-page .form-description{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.landing-page legend{
    font-family: var(--font-secondary);
    font-size: var(--font-size-secondary);
    line-height: var(--line-height-secondary);
    color: var(--font-color-primary);
    font-weight: bold;
}

.landing-page .display-none{
    display: none;
}

.landing-page label{
    font-family: var(--font-secondary);
    font-size: var(--font-size-tertiary);
    line-height: var(--line-height-tertiary);
    color: var(--font-color-primary);
    font-weight: bold;
}

.landing-page .data-entry{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 12px;
    padding: 9px 15px;
    border-radius: 18px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-tertiary);
    line-height: var(--line-height-tertiary);
    color: var(--font-color-primary);
    font-weight: bold;
    transition: ease-in-out, 500ms;
}
.landing-page .data-entry:hover{
    transform: scale(1.05);
}
@media(max-width: 900px){
    .landing-page .data-entry{
        margin-top: 5px;
    }
}

.landing-page .input{
    height: 34px;
}

.landing-page .contact-form textarea{
    height: 50px;
    resize: none;
}

.landing-page .contact-form .button{
    width: 80%;
    height: 45px;
    margin-top: 10px;
    border-radius: 50px;
    align-self: center;
    background-color: var(--font-color-primary);
    font-family: var(--font-secondary);
    font-size: var(--font-size-secondary);
    line-height: var(--line-height-secondary);
    color: var(--color-secondary);
    transition: ease-in-out, 500ms;
}
.landing-page .button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px var(--color-secondary);
    transform: scale(1.05);
}

.landing-page .detail{
    height: 10px;
    width: 100%;
    background-color: var(--color-primary);
}